<!-- 
File: quotes/templates/quotes/about.html 
Author: Ricky Cui (rcui1@bu.edu), 9/10/2026
Description: This file contains information about Marcus Aurelius aswell as a link to his WIKI page.

-->

{% extends 'quotes/base.html' %} {% block content %} {% load static %}
<!--links the css sheet to this page.-->
<link rel="stylesheet" href="{% static 'styles.css' %}" />
<h1>Marcus Aurelius</h1>
<br />

<!--a stunning immage of Marcus Aurelius-->
<img src="{% static img %}" alt="quote img" class="img" />
<p>
  Find out more about
  <a href="https://en.wikipedia.org/wiki/Marcus_Aurelius">Marcus Aurelius</a>
</p>

<br />
<p>
  His full name was <em>Marcus Aurelius Antoninus</em>. He lived from the 26th
  of April of 121 AD and passed on the 17th of March 180 AD, serving as the
  Emperor of Rome from 161 AD to 180 AD.
</p>

{% endblock %}
