<!-- 
File: quotes/templates/quotes/base.html
Author: Ricky Cui (rcui1@bu.edu), 9/10/2026
Description: This is the base page that the other HTML files are based off of. 
-->
{% load static %}
<html>
  <head>
    <title>Marcus Aurelius Quotes</title>
    <!--links the css sheet to this page.-->
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <!--This is the Header and Navagation bar. -->
  <header>
    <nav>
      <ul>
        <li><a href="{% url 'quote' %}">Roll for Another Quote</a></li>
        <li><a href="{% url 'show_all' %}">Show all</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
      </ul>
    </nav>
  </header>
  <body>
    <br /><br />
    <!-- The other HTML files will go here. -->
    {% block content %} {% endblock %}

    <footer>The current time is {{current_time}}.</footer>
  </body>
</html>
